body {
  background: #fffed2;
}

.Page {
  display: flex;
  height: 84vh;
  padding: 10px 40px;
  border-bottom: black solid 1px;
  justify-content: center;
  background: #fffed2;
}

form {
  border: gray solid 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
  border-radius: 30px;
  background: #FCFDFD;
}

input {
  height: 30px;
  margin-bottom: 10px;
  width: 300px;
}

.Submit {
  padding: 3px 10px;
  cursor: pointer;
  border-radius: 15px 15px 15px 15px;
  width: 120px;
  background: #FFF760;
  font-weight: 700;
  border: #FFF000 solid 1px;
  height: 50px;
  padding: 10px;
}