.Page {
  display: flex;
  height: 84vh;
  padding: 10px 40px;
  border-bottom: black solid 1px;
}

.Introduction {
  height: 100%;
  width: 50%;
}

.Introduction h1 {
  font-size: 50px;
  font-weight: 700;
  margin-bottom:20px;
}

.Introduction h6 {
  font-size: 20px;
  font-weight: 400;
  margin-bottom:20px;

}

.Login {
  margin-top: 80px;
}

#Login, #Submit {
  height: 50px;
  padding: 10px;
}

#Login{
  border-right: none;
  border-radius: 15px 0 0 15px;
  width: 300px;
}

#Submit {
  cursor: pointer;
  border-radius: 0 15px 15px 0;
  width: 80px;
  background: #FFF760;
  font-weight: 700;
}
.Figure {
  display: flex;
  justify-content: center;
  width: 50%;
}

.Figure img {
  height: 100%;
  width: auto;
}

.Github {
  height: 8vh;
  display: flex;
  align-items: center;
  padding: 10px 40px;
}

.Github img {
  height: 30px;
  width: auto;
}