.navigationBar {
  height: 8vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  
}

.button {
  padding: 2.5px 5px;
  border: none;
  background: none;
  cursor: pointer;
}
