.table {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.table h2 {
  margin-bottom: 50px;
}

.table table {
  text-align: center;
  border: 1px solid #ddd;
}

.table th, .table td {
  padding: 5px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

@media screen and (max-width: 480px) {
  .table table {
    width: 100%;
    table-layout: fixed;
  }
}

.table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.table tr:nth-child(odd) {
  background-color: #ffffff;
}