@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
  font-family: 'Ubuntu', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.HomePage {
  background: #FCFDFD;
  /*#e0f6e6   E3F5E0 #f6f8f7 F6F8F7 #FCFDFD*/
}
.Page {
  display: flex;
  height: 92vh;
  padding: 10px 40px;
}

.Introduction {
  width: 50%;
  height: 100%;
}

.Introduction h1 {
  margin-top: 40px;
  font-size: 50px;
  font-weight: 700;
}

.Introduction h6 {
  margin-top: 20px;
  font-size: 14px;
  font-weight: 400;
}

.Login {
  margin-top: 80px;
}

#Login{
  border-right: none;
  border-radius: 15px 0 0 15px;
  padding: 10px;
  height: 50px;
  width: 300px;
}
#Submit {
  border-radius: 0 15px 15px 0;
  padding: 10px;
  height: 50px;
  width: 80px;
  background: #fff760; 
  font-weight: 700;
}
.Figure {
  display: flex;
  justify-content: center;
  width: 50%;
}

.Figure img {
  width: auto;
  height: 100%;
}