
* {
  font-family: 'Ubuntu', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


.NavigationBar {
  width: 100vw;
  height: 8vh;
  padding: 10px 40px;
  display: flex;
  justify-content: space-between;
  border-bottom: black solid 1.5px;
}

.Logo, .BtnAccount{
  display: flex;
  align-items: center;
  cursor: pointer;
}
.Logo button{
  padding: 3px 10px;
}

.BtnAccount button{
  margin: 5px;
  padding: 3px 10px;
}

.BtnAccount #Account{
  color: #2FB201;
  border: none;
  background: none;
  transition: background .2s, color .5s, transform .2s;
}

#Logo, #Connect {
  transition: background .2s, transform .2s;
  border: none;
  background: none;
}
#Logo:hover, #Connect:hover{
  transform: scale(1.1);
  cursor: pointer;

}

#Account:hover {
  border-radius: 5px;
  background: #92E37C;
  color: black;
  transform: scale(1.1);
  cursor: pointer;

}